@model MVC_2_CLIENT.Models.ModuleModel
@{ 
    Layout = null;
}

<namespace-module variant="grid" id="@Model.Guid">
    <h1>@Model.Title</h1>

    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@tag</li>
        }
    </ul>

    <script type="application/json">
        @Html.Raw(Json.Encode(Model))
    </script>
</namespace-module>
