<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Assets/bundles/css")
    @Scripts.Render("~/Assets/bundles/js")


</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
